{% extends "encyclopedia/layout.html" %}

{% block title %}
    test
{% endblock %}

{% block body %}
    <h1>Create a new page</h1>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="mt-3">
            {% for field in form %}
                <label class="my-2" for="{{field.auto_id}}">{{field.label}}</label>
                {{field}}
            {% endfor %}
            <input class="btn btn-primary my-3" type="submit" value="Create article">
        </div>
    </form>
{% endblock %}